.detail{
    text-align: center;
    padding: 4rem;
    display: flex;
}

.image{
    border-radius: 10%;
    height: 400px;
    width: 400px;
}

.info{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
}

.dis{
    font-weight: lighter;
    font-size: large;
}



/*-------responsive-------*/

@media screen and (max-width:700px){
   
    .detail{
        margin-top: 3rem;
        display: block;
        padding: 0px;
    }

    .image{
    
        text-align: left;
        height: 300px;
        width: 300px;
    }
}